@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format(truetype);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format(truetype);
    font-weight: 300;
}
body {
    background: url("https://rhamby92.github.io/bobs_burgers_menu/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    height: 25vh;
    position: relative;
}
.logo {
    height: 650px;
    background: transparent;
    position: absolute;
    top: -230px;
} 
/*=====MAIN CONTENT========*/
.page-wrapper{
    width: auto;
    margin: 0 auto;
    background: transparent;
    justify-content: center;
    margin-bottom: 40px;
}
.content-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}
.container-1 {
    display: flex;
    flex-direction: column;  
}
.container-2{
display: flex;
flex-direction: column;
}
h1{
    color: #ee2331;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.menu {
    height: auto;
    max-height: 400px;
    max-width: 400px;
    background-color: #f8df25;
    border: 3px solid #ee2331;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    border-radius: 15%;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 2px 5px 15px #000000, 2px 2px #000000 inset;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: nowrap;  
}
ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    line-height: 1.7;
    font-weight: bold;
    display: inline-block;
    line-height: 2;   
}
.add{
    font-size: small;
    font-weight: bold;
}
.selection {
    font-weight: bold;
}
.condiments{
    font-weight: 900;   
}
/*
@media (max-width: 73.375em) {

}
@media (max-width: 70.5625em) {
    
}
*/
